.navigateBlock {
  position: absolute;
  top: 290px;
  left: 90px;
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  height: 340px;
  border-radius: 7px;
  .headCategoriesBlock {
    background-color: rgb(136, 56, 27);
    position: relative;
    top: -20px;
    left: -20px;
    padding: 20px;
    margin-bottom: 10px;
    width: inherit;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    p {
      color: white;
      font-size: 22px;
      text-align: left;
    }
  }
  a {
    font-size: 22px;
    color: rgb(184, 80, 43);
    margin-bottom: 15px;
    transition: all 0.6s;
    &:hover {
      color: rgb(136, 56, 27);
    }
    &.active {
      color: rgb(136, 56, 27);
    }
  }
  .categoriesNoodles {
    p {
      font-size: 22px;
      color: rgb(184, 80, 43);
      margin-bottom: 10px;
      &.active {
        color: rgb(136, 56, 27);
      }
    }
    li {
      font-size: 20px;
      color: rgb(136, 56, 27);
      margin-bottom: 30px;
    }
  }
}
